<div class="home-page">
  <div class="page-panel">
    <div class="panel">
      <h1 class="app-title" [innerHtml]="'app.title' | translate"></h1>
      <p translate="home.panel.teaser"></p>
      <div class="actions">
        <button
          mat-flat-button
          color="primary"
          translate="button.create-session"
          (click)="createSession()"
        ></button>
        <button
          mat-flat-button
          color="primary"
          translate="button.join-session"
          (click)="joinSession()"
        ></button>
      </div>
    </div>
  </div>
</div>
