<mat-toolbar *ngIf="activeSession">
  {{ activeSession.name }}
  <span *ngIf="activePoll">&nbsp;&gt;&nbsp;{{ activePoll.name }} </span>
</mat-toolbar>
<div class="" *ngIf="activeSession && activePoll">
  <mat-card>
    <mat-card-title translate="session.view.empty-state.title"></mat-card-title>
    <mat-card-content
      translate="session.view.empty-state.text"
    ></mat-card-content>
    <a
      [routerLink]="['/sessions/attend/:id', activeSession.id]"
      translate="session.manage.disabled.attend"
    ></a>
  </mat-card>
</div>
