<mat-toolbar *ngIf="activeSession">
  {{ activeSession.name }}
  <span *ngIf="activePoll">&nbsp;&gt;&nbsp;{{ activePoll.name }} </span>
  <span class="spacer"></span>
  <mat-icon color="success" *ngIf="isConnected">check_circle</mat-icon>
  <mat-icon color="warn" *ngIf="!isConnected">cancel</mat-icon>
</mat-toolbar>
<div class="poll-details" *ngIf="activeSession && activePoll">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ activePoll.name }}</mat-card-title>
      <mat-card-subtitle>{{ activePoll.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="poll-options">
        <div *ngFor="let option of activePoll.options">
          <button
            mat-flat-button
            color="primary"
            matTooltip="{{ option.description }}"
            (click)="castVote(option.id)"
          >
            {{ option.name }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="empty-state" *ngIf="activeSession && !activePoll">
  <mat-card>
    <mat-card-title translate="session.view.empty-state.title"></mat-card-title>
    <mat-card-content
      translate="session.view.empty-state.text"
    ></mat-card-content>
    <a
      [routerLink]="['/sessions/manage/:id', activeSession.id]"
      translate="session.view.empty-state.manage"
      *ngIf="activeSession.isOwner"
    ></a>
  </mat-card>
</div>
<div class="poll-chart">
  <div *ngIf="chartOptions">
    <apx-chart
      #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
</div>
