@import "./variables.scss";
html,
body {
  height: 100%;
  background-color: $background;
  color: $foreground;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.thin {
  font-weight: 300;
}

h1.app-title {
  font-weight: 600;
  line-height: 4rem;
  .thin {
    font-weight: 300;
    color: $bright;
  }
}

.full-width {
  width: 100%;
}

.mat-dialog-container {
  .mat-dialog-actions {
    justify-content: flex-end;
  }
}

.spacer {
  flex: 1 1 auto;
}
a {
  color: $foreground;
  text-decoration: none;
}
a:hover {
  color: $bright;
  text-decoration: none;
}
